
body {
    line-height: inherit;
    background-color: #f8f7f5;
    margin-bottom: 60px;    
}

.container{
    font-size: 16px;
    width:auto;
    max-width:680px;
    padding:0 15px 60px 15px;
    background-color: #fff;
}

.center{
    text-align: center;
}

p{
    line-height: 1.75em;
    margin: 0 0 2;
}

.secret{
    text-align: center;
    font-size: 100%;
    color: #f8f7f5;
    margin: 37px 0 0 0;
}

.footer-container{
    padding: 20px;
    background-color: #f8f7f5;
}