
body {
    line-height: inherit;
    background-color: #f8f7f5;
}

.container{
    font-size: 16px;    
    width:auto;
    max-width:680px;
    padding:0 15px 60px 15px;
    background-color: #fff;
}

.center{
    text-align: center;
}

p{
    line-height: 1.75em;
    margin: 0 0 2;
}

.secret{
    font-size: 100%;
    color: #f8f7f5;
    margin: 17px 0 0 0;
}

.footer{
    height: 60px;
    width: 100%;
    bottom: 0;
    background-color: #f8f7f5;
}

.text-muted{
    margin:20px 0;
}
