$def with (data)
<html>

	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>
			$data['title']
		</title>
    	 <script src="/static/js/jquery.js"></script>

		<link rel="stylesheet" type="text/css" href="/static/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/gallery-page-default.css"/>

	</head>

	<body>
		<div class="container">
			<div class="page-header">
				<h2>
				$data['title']
				</h2>
			</div>

			<div class="content">
				$if data:
					$for i in range(data['number']):
						<div class="des-container">
							<p><span><br></span></p>
							$for p in data['des'][i].split("\r\n"):
								<p>$p</p>
							<p><span><br></span></p>
						</div>
						<div class="center">
							<img class="img-responsive" src="$data['urlPrefix']/${i}.jpg" width="600px">
						</div>

				$else: 
					opps!
			</div>
		</div>

		<div class="container center">
		  	<a href="/" type="button" class="btn btn-block btn-primary">我也要做</a>
		 </div>

	    <div class="footer container">
	            <p class="text-muted">© Arthur <span class="secret">For Garfield</span></p>
	    </div>
	</body>
</html>