$def with (data)
<html>

	<head>
    <meta charset="utf-8">

		<title>
			$data['title']
		</title>
    	 <script src="/static/js/jquery.js"></script>

		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/gallery-page.css"/>

	</head>

	<body>
		<div class="container">
			<div class="page-header">
				<h2>
				$data['title']
				</h2>
			</div>

			<div class="content">
				$if data:
					$for i in range(data['number']):
						<div class="des-container">
							<p><span><br></span></p>
							$for p in data['des'][i].split("\r\n"):
								<p>$p</p>
							<p><span><br></span></p>
						</div>
						<div class="img-container">
							<img src="/static/upload/$data['dateStr']/$data['randomFolder']/${i}.jpg" width="600px">
						</div>

				$else: 
					opps!
			</div>
		</div>

		<div class="secret">
			For Garfield, By Arthur 
		</div>

	</body>
</html>