<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>连图</title>
    <script type="text/javascript">
    function appendItem() {
        var item = "<div class='col-sm-12 item'> \
                        <textarea name='des' class='form-control' rows=3></textarea> \
                        <a class='file-input-wrapper btn btn-default'> \
                            <span>浏览</span> \
                            <input type='file' name='pic' accept='image/*' data-filename-placement='inside'> \
                        </a> \
                        <button type='button' class='remove btn btn-default' aria-label='Remove Image'> \
                            <span  class='glyphicon glyphicon-remove' aria-hidden='true'></span> \
                        </button> \
                    </div>";

        $$("#items").append(item);
        $$(document).ready(function(){$$('input[type=file]').bootstrapFileInput();});
        $$( document ).ready(function() {
            $$( ".remove" ).click(function( event ) {
                $$(this).closest('.item').fadeOut(300, function(){$$(this).remove(); });
            });
        });
    }
    </script>

    <script src="static/js/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/gallery-page-index.css"/>

    <script src="static/js/bootstrap.file-input.js"></script>
    <script>$$(document).ready(function(){$$('input[type=file]').bootstrapFileInput();});</script>

    <script>
    $$( document ).ready(function() {
        $$( ".remove" ).click(function( event ) {
            $$(this).closest('.item').fadeOut(300, function(){$$(this).remove(); });
        });
    });
    </script>

</head>

<body>
    <div class="container">

        <form action="" enctype="multipart/form-data" method="post" role="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">标题</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="pageTitle">
                </div>
            </div>

            <div id="items" class="form-group">
                <div class="col-sm-12 item">
                    <textarea name="des" class="form-control" rows=3> </textarea>
                    <!-- <input type="file" name="pic" accept="image/*"> -->
                    <a class="file-input-wrapper btn btn-default">
                        <span>浏览</span>
                        <input type="file" name="pic" accept="image/*" data-filename-placement="inside">
                    </a>
                    <button type="button" class="remove btn btn-default" aria-label="Remove Image">
                        <span  class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

            <div class="center form-group">
                <button onclick="appendItem()" type="button" class="btn btn-default" aria-label="More Image">
                  <span  class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <button class="btn btn-primary" type="submit">
                    生成
                </button>
            </div>
        </form>
    </div>

</body>

</html>